<div class="container" style="padding-top: 10px;">

    <h1><i class="fa fa-server"></i> Network State
        <small>Current state of the Delivr Network</small>
    </h1>

    <div class="row">
    <div class="col-md-2" align="center"><div class="boxi">
        <a class="createNewContract" href="/#/newContract" type="button"><b>Create New Contract</b></a>
    </div></div>
    <div class="col-md-2" align="center"><div class="boxi">Current Block:<br />{{ blockNum }}</div></div>
    <div class="col-md-2" align="center"><div class="boxi">Gas Limit:<br />{{ gasLimit }}</div></div>
    <div class="col-md-2" align="center"><div class="boxi">Block Time:<br />{{ blocktime }} second(s)</div></div>
    <div class="col-md-2" align="center"><div class="boxi">ABC:<br />123</div></div>
    <div class="col-md-2" align="center"><div class="boxi">DEF:<br />456</div></div>
    <!--<div class="col-md-2" align="center"><div class="boxi">GHI:<br />789</div></div>-->
    </div>
    <h1><i class="fa fa-cubes"></i> Recent Contracts <small>Most Recent Contracts in the Delivr Network</small></h1><br />

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>OrderID</strong>
            </td>
            <td>Current State</td>
            <td>From Location</td>
            <td>To Location</td>
            <td>Deliverer</td>
            <td>Receiver</td>
            <td>Last Activity</td>
            <td>Price</td>
        </thead>
        <tbody>
            <tr ng-repeat="contract in contractList" class="animated fadeIn">
                <td>
                    <a href="/#/contract/{{ contract.orderId }}">
                        <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ contract.orderId | truncate : 12  }}</span>
                    </a>
                </td>
                <td style="vertical-align:middle;">
                    {{ contract.currentState }}
                </td>
                <td>{{ contract.fromCity }}<br/><a href="https://map.what3words.com/{{ contract.fromLocation }}">{{ contract.fromLocation }}</a></td>
                <td>{{ contract.toCity }}<br/><a href="https://map.what3words.com/{{ contract.toLocation }}">{{ contract.toLocation }}</a></td>
                
                <td><a href="/#/address/{{ contract.deliverer }}"><span class="btn btn-sm btn-success">{{ contract.deliverer | truncate : 12 }}</span></a></td>
                <td><a href="/#/address/{{ contract.receiver }}"><span class="btn btn-sm btn-success">{{ contract.receiver | truncate : 12 }}</span></a></td>
                <td style="vertical-align:middle;">
                    {{ contract.pickupTimestamp | date:'medium' }}
                </td>
                <td style="vertical-align:middle;">
                    {{ contract.highestBid }}€
                </td>
            </tr>
        </tbody>
    </table>
  </div>

</div>
