<div class="container" style="padding-top: 10px;" ng-controller="dashboardCtrl">

  <div ng-show="showOrderForm" class="row">
    <div class="col-sm-6">
      <h1><i class="fa fa-server"></i> New Order</h1>

      <form ng-submit="deployContract()">
        <div class="form-group">
          <label for="sender-name" class="form-control-label">Sender Name:</label>
          <input type="text" class="form-control" id="sender-name" required ng-model="contractRequestSenderName" disabled>
        </div>
        <div class="form-group">
          <label for="sender-address" class="form-control-label">Sender Address (W3W):</label>
          <input value="text" class="form-control" id="sender-address" required ng-model="contractRequestSenderAddress" disabled>
        </div>

        <div class="form-group">
          <label for="recipient-name" class="form-control-label">Recipient Name:</label>
          <input type="text" class="form-control" id="recipient-name" required ng-model="contractRequestRecipientName">
        </div>
        <div class="form-group">
          <label for="recipient-address" class="form-control-label">Recipient Address (W3W):</label>
          <input type="text" class="form-control" id="recipient-address" required ng-model="contractRequestRecipientAddress">
        </div>

        <div class="form-group">
          <label for="due-delivery" class="form-control-label">Max Due Date:</label>
          <input type="text" class="form-control" id="due-delivery" required ng-model="contractRequestDueDelivery">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="weight" class="form-control-label">Weight (KG):</label>
              <input type="text" class="form-control" id="weight" required ng-model="contractRequestWeight">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="volume" class="form-control-label">Volume (MTQ):</label>
              <input type="text" class="form-control" id="volume" required ng-model="contractRequestVolume">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="quality-of-service" class="form-control-label">Quality of Service:</label>
            <select class="form-control" id="quality-of-service" required ng-model="contractRequestQualityOfService">
              <option>---</option>
              <option>Same Day Delivery</option>
              <option>Over Night Express</option>
              <option>Risk Of Fracture</option>
              <option>Dangerous Goods</option>
              <option>Heavy Load</option>
            </select>
        </div>

        <!--<div class="form-group">
          <label for="from-address" class="form-control-label">From Address (W3W):</label>
          <input type="text" class="form-control" id="from-address" required ng-model="contractRequestFromAddress">
        </div>
        <div class="form-group">
          <label for="to-address" class="form-control-label">To Address (W3W):</label>
          <input type="text" class="form-control" id="to-address" required ng-model="contractRequestToAddress">
        </div>

        <div class="form-group">
          <label for="package-size" class="form-control-label">Package Size:</label>
            <select class="form-control" id="package-size" required ng-model="contractRequestPackageSize">
              <option>Letter</option>
              <option>Box</option>
              <option>Palette</option>
            </select>
        </div>-->

        <div class="input-group-btn">
            <!--<button class="btn btn-primary btn-bluem" type="submit"><i class="fa fa-add"></i> Calculate Estimations</button>-->
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <h1><i class="fa fa-dollar"></i> Estimation</h1>

      <div ng-show="showEstimations">

        <label class="form-control-label">Pricing estimation based on the order data</label>

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Shipping Costs (500 KM)
            <span class="badge badge-danger badge-pill">- 20.00 €</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Carbon Compensation (0.05 T CO2 Emission)
            <span class="badge badge-danger badge-pill">- 3.00 €</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Proof-of-Good-Work (1 Token)
            <span class="badge badge-primary badge-pill">+ 1.00 €</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            <b>Total Shipping Costs</b>
            <span class="badge badge-danger badge-pill">- 22.00 €</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-show="showOrderForm" class="row">
    <div class="col-sm-6">
      <button ng-click="calculateEstimations()" class="btn btn-primary btn-bluem"><i class="fa fa-add"></i> Calculate Estimations</button>
    </div>
    <div class="col-sm-6">
      <button ng-show="showEstimations" ng-click="deployContract()" class="btn btn-primary btn-bluem"><i class="fa fa-add"></i> Submit Order</button>
    </div>
  </div>

  <div ng-show="showOrderSummary" class="row">
      <h1><i class="fa fa-server"></i> Order Summary</h1>

      <br/><br/>

      <label class="form-control-label">Order Data</label>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Sender Name</th>
            <td>{{ contractRequestSenderName }}</td>
          </tr>
          <tr>
            <th scope="row">Sender Address (W3W)</th>
            <td>
              <a href="https://map.what3words.com/{{ contractRequestSenderAddress }}">{{ contractRequestSenderAddress }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Recipient Name</th>
            <td>{{ contractRequestRecipientName }}</td>
          </tr>
          <tr>
            <th scope="row">Recipient Address (W3W)</th>
            <td>
              <a href="https://map.what3words.com/{{ contractRequestRecipientAddress }}">{{ contractRequestRecipientAddress }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">Max Due Date</th>
            <td>{{ contractRequestDueDelivery }}</td>
          </tr>
          <tr>
            <th scope="row">Weight (KG)</th>
            <td>{{ contractRequestWeight }}</td>
          </tr>
          <tr>
            <th scope="row">Volume (MTQ)</th>
            <td>{{ contractRequestVolume }}</td>
          </tr>
          <tr>
            <th scope="row">Quality of Service</th>
            <td>{{ contractRequestQualityOfService }}</td>
          </tr>
        </tbody>
      </table>

      <br/><br/>

      <label class="form-control-label">Pricing</label>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Shipping Costs (500 KM)
          <span class="badge badge-danger badge-pill">- 22.90 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Carbon Compensation (0.05 T CO2 Emission)
          <span class="badge badge-danger badge-pill">- 3.00 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Proof-of-Good-Work (1 Token)
          <span class="badge badge-primary badge-pill">+ 1.00 €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
          <b>Total Shipping Costs</b>
          <span class="badge badge-danger badge-pill">- 24.90 €</span>
        </li>
      </ul>

      <br/><br/>

      <button ng-click="goToDashboard()" class="btn btn-primary btn-bluem"><i class="fa fa-add"></i> Dashboard</button>
  </div>
</div>
